@import "tailwindcss";
@import "@heroui/styles";

:root {
  --background: #ffffff;
  --foreground: #111111;
}

.dark {
  --background: #0b0f1a;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}

/* IMPORTANT: body must be theme driven */
body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: var(--font-inter);
}

/* heading font */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-outfit);
}