@import "tailwindcss";
@import "@heroui/styles"; 
:root {
  --background: #ffffff;
  --foreground: #111111;

}

.dark {
  --background: #0b0f1a;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: 0.3s;
  font-family: var(--font-inter);
}

/* heading font */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-outfit);
}